.box-month {
    .cell {

        .cell-top {
            .day {
                display         : flex;
                padding   : 4px;
                min-Width : 50px;
                min-Height: 30px;
                position  : relative;
                flex-wrap: nowrap;
                justify-content: flex-start;

                .drag-box {
                    // display         : flex;
                    padding         : 0 10px;
                    background-color: black;
                    position        : absolute;
                    z-index         : 1;
                    top             : -1px;
                    left            : -4px;

                    .event {
                        margin     : 0 0 1px 0;
                        width      : 50px;
                        height     : 29px;
                        user-Select: none;
                        color      : white;
                        position   : absolute;
                        left       : 3px;

                        .event-name {
                            position: absolute;
                            right   : 60px;
                            color   : black;
                            top     : 0px;
                        }

                        .left {
                            z-index         : 1;
                            cursor          : ew-resize;
                            background-color: black;
                            float           : left;
                            height          : 29px;
                        }

                        .right {
                            background-color: black;
                            z-index         : 1;
                            margin          : 0 0 25px 0;
                            cursor          : ew-resize;

                            height: 29px;
                            float : right;
                        }

                    }

                }
            }

            .day:hover {
                background-color: rgb(204, 200, 200);
            }
        }
    }


}