.bs-checkbox {
    text-align    : center;
    vertical-align: middle;
    width         : 60px;
    cursor        : pointer;

    img {
        width: 22px;
    }
}

.bs-checkbox:hover {
    background: #e3e6e9;
}

tbody {
    tr {
        .table-checkbox {
            cursor: pointer;
            width : 36px;
        }

        .check-box {
            background-color: rgba(101, 117, 117, 0.253);
            height          : 30px;
        }

        td {
            align-items: center;
        }
    }

    td:hover {
        background: #e3e6e9;
    }
}