tr {
    .detail {
        width: 30px;
    }
}

.bs-checkbox {
    text-align: center;
    vertical-align: middle;
    width: 60px;
    background: #e3e6e9;

    img {
        width: 20px;
    }

    input {
        cursor: pointer;
        z-index: 1;
    }

}

tbody {
    tr {

        height: 26px;

        .table-checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 60px;
            text-align: center;
            vertical-align: middle;
            height: 100%;
            width: 100%;

            label {
                height: 24px;
                margin: 0 0 5px 0;
                background: #e3e6e9;

                .check-box {
                    background-color: rgba(101, 117, 117, 0.253);
                    height: 12px;
                    width: 100%;

                }
            }
        }

        .tb {
            padding: 1rem 0 0 0.5rem;
            line-height: 16px;
        }

        .bs-checkbox {
            label {
                .check-box {
                    height: 12px;
                }
            }
        }
    }

    td:hover {
        background: #e3e6e9;
    }
}