.container {
    position     : fixed;
    width        : 200px;
    border-radius: 5px;
    padding      : 4px;
    box-sizing   : border-box;
    background   : #ecf0f3;
    z-index      : 2;
    border       : 1px solid rgb(194, 191, 191);
    display      : none;

    .name {
        width          : 100%;
        text-align     : left;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        font-size      : 16px;

        .plus {
            cursor: pointer;
        }


    }

    .deactivate {
        width          : 100%;
        text-align     : left;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        font-size      : 16px;
        color          : #07070767;

        .minus {
            cursor: pointer;
        }
    }
}