.container {
    position: fixed;
    width        : 200px;
    border-radius: 5px;
    padding      : 4px;
    box-sizing   : border-box;
    background   : #ecf0f3;
    z-index      : 2;
    border       : 1px solid rgb(194, 191, 191);
    display      : none;

    .name {
        width   : 100%;
        text-align: left;
        .plus {
            float: right;
            color : rgb(43, 153, 43);
            cursor: pointer;

            svg {
                font-size: 24px;
            }
        }

        .plus:hover {
            color: rgb(25, 82, 25);
        }

        .minus {
            float: right;
            color : rgb(201, 48, 48);
            cursor: pointer;

            svg {
                font-size: 24px;
            }
        }

        .minus:hover {
            color: rgb(90, 30, 30);
        }
    }
}