.month {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 25px 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(70, 62, 62);

    div {
        text-align: center;
    }
}

.containerScroll {

    .cell {
        border: 1px #dde1e7 solid;
        height: 20px;
        position: relative;

        .days {
            position: absolute;
            bottom: 20px;
            width: 30px;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            color: rgb(70, 62, 62);
        }

        .event {
            display: flex;
            flex-wrap: nowrap;
            height: 18px;
            user-Select: none;
            position: absolute;
            z-index: 1;
            cursor: grab;
            left: -1px;

            .range {
                width: 30px;
            }

            .event-name {
                position: absolute;
                right: 105%;
                color: black;
            }

            .left {
                position: absolute;
                z-index: 1;
                cursor: ew-resize;
                background-color: rgb(73, 73, 73);
                float: left;
                height: 18px;
                width: 5px;
            }

            .right {
                position: absolute;
                background-color: rgb(73, 73, 73);
                z-index: 1;
                margin: 0 0 25px 0;
                cursor: ew-resize;
                height: 18px;
                float: right;
                width: 5px;
                right: 0px;
            }
        }
    }
}


.today {
    background-color: #acb1f0;
}

.empty {
    background-color: #dde1e7;
    height: 20px;
}